#warning-message {
  color: #000;
  font-size: .9em;
  background-color: #FBE64D; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  font-size: 0.8em;
  background-color: #404040; }
  .header__teaser {
    margin: 0 auto;
    color: white;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase; }
  .header__radial-child {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 3.5em;
    height: 3.5em;
    margin: .2em;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .header__adult {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #D32E25;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .header__adult-text {
      margin: auto;
      font-size: 1.7em;
      color: white;
      font-weight: 700; }
  .header__exit {
    position: relative;
    background: white; }
    .header__exit::before, .header__exit::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 2.3em;
      border-bottom: 0.5em solid #404040;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .header__exit::before {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
    .header__exit::after {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
    .header__exit-text {
      font-size: 0; }

#trig-footer {
  color: black;
  background-color: white; }
  #trig-footer a {
    color: black; }

body {
  background-color: white; }
  @media (orientation: portrait) {
    body {
      background-position-y: 44px; } }

.teaser-phrase {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.footer {
  color: black;
  background-color: white; }

.main .btn-ok {
  background: #DC3C31; }

.btn-ok-txt {
  color: white; }
