body { margin: 0; color: #767676; font-size: 14px; font-weight: 400; font-family: Arial, sans-serif; min-width: 320px; overflow-x: hidden; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; background: url(../img/bg-body.jpg) no-repeat top center; background-size: 100% auto; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; height: 100%; font-size: 14px; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; -moz-box-sizing: inherit; }

* { max-height: 1000000px; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

img { border-style: none; width: 100%; height: auto; }

a { text-decoration: none; color: #767676; outline: none; }

input, textarea, select { font: 100% Arial, Helvetica, sans-serif; vertical-align: middle; color: #000; }

textarea { overflow: auto; resize: vertical; vertical-align: top; outline: none; }

form, fieldset { margin: 0; padding: 0; border-style: none; }

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration { display: none; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

table { border-collapse: collapse; border-spacing: 0; }

button { padding: 0; border: 0; outline: none; }

.hide__content { display: none; }

.page { display: table; table-layout: fixed; width: 100%; height: 100%; overflow: hidden; margin: 0 auto; background: none; -webkit-background-size: cover; background-size: cover; }

.clearfix:after { content: ""; display: table; clear: both; }

.a-center { text-align: center; }

.wrapper { display: inline-block; vertical-align: top; text-align: center; width: 100%; min-width: 320px; position: relative; padding: 0px; }

.rules { font-family: Arial; margin: 1px 5px 0px; text-align: left; color: #404040; font-size: 10px; line-height: 1; position: relative; z-index: 99; }

.rules a { text-decoration: underline; color: #404040; }

.rules p { margin: 0; }

@media screen and (min-width: 375px) and (min-height: 627px) { html { font-size: 16px; } }

@media screen and (min-width: 414px) and (min-height: 736px) { html { font-size: 18px; } }

@media screen and (min-width: 520px) and (min-height: 860px) { html { font-size: 23px; } }

@media screen and (min-width: 640px) and (min-height: 960px) { html { font-size: 28px; } }

.header { display: table-row; width: 100%; background-color: #fff; }

.header__wrap { display: table-cell; width: 100%; text-align: center; position: relative; z-index: 10; border-top: 4px solid #BCAAA4; }

.header .wrapper { text-align: center; color: #000; line-height: 1; padding: 0.35714rem 0.5rem 0.35714rem; }

.header .top-block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header .top-block__age { display: none; width: 1.6rem; height: auto; }

.header .top-block__close { font-size: 1.4rem; color: #FFFFFF; text-shadow: none; background-color: #1F5698; -webkit-border-radius: 50%; border-radius: 50%; width: 1.5rem; line-height: 1.5rem; cursor: pointer; }

.header .top-block__title { position: relative; font-size: 0.71429rem; font-weight: 400; text-align: center; text-transform: uppercase; }

.header .top-block__ico { width: 0.71429rem; height: auto; }

.main { display: table-row; width: 100%; height: 100%; /*background:  url(../img/bg-main2.jpg) no-repeat center top; -webkit-background-size: cover; background-size: cover; background-position-y: 0px;*/}

.main__wrap { display: table-cell; width: 100%; height: 100%; text-align: center; vertical-align: middle; position: relative; }

.main .wrapper { z-index: 10; text-align: center; padding: 4rem .357rem 0; max-width: 640px; }

.main .image { margin: 0 auto 2.5rem; width: 6.07143rem; height: auto; }

.main .age { position: absolute; top: .2rem; right: 0; width: 6rem; }

.main .age .age-img { margin: 0 auto; width: 75px; }

.main .age .age-txt { text-transform: uppercase; font-size: 0.786rem; font-weight: 700; color: #000; line-height: 1; }

.main .btn-price-container { background-color: #fff; outline: 1px solid #3D3D3D; /*box-shadow: 0 0 0 22px #fff;*/}

.main .one-click { background-color: #3D3D3D; color: #F2F2F2; }

.main .btn-ok { position: relative; background-color: #1F5698; }

.main .btn, .main .btn:hover { color: #FFF; }

.main .price { font-family: Arial; color: #404040; }

.footer { 
display: table-row;
width: 100%;
height: 1px;
background-color: #fff;
position: absolute;
bottom: 0;
color: #000000;
padding-bottom: 66px;
 }

.footer__wrap { width: 100%; text-align: center; }
.btn-ok-txt {
  color: #fff;
}


  .main { background: none;}
  .footer {
      position: fixed;
      width: 100%;
      display: inline-block;
      bottom: 0;
      left: 0;
      height: auto;
      z-index: 999;
      padding-bottom: 5px;
  }
/* Partners CSS */
      #warning-massage {
        color: #404040; 
        font-size: .9em;
      }
      .teaser {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 0;
        margin: .42em 0;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.5); }
        .teaser__container {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin: 0 auto;
          padding: .34em 1.33em;
          font-size: .75em;
          text-align: center;
          text-shadow: 2px 1px 2px rgba(42, 77, 126, 0.46);
          background-color: rgba(255, 255, 255, 0.9); }
        .teaser__main-phrase {
          margin: 0 auto;
          font-size: 1.8em;
          color: #404040;
          font-weight: 700; }
        .teaser__sub-phrase {
          margin: 0 auto;
          font-size: 1.13em;
          color: #000cff;
          font-weight: 700; }
          /*.header {*/
        /*display: -webkit-box;*/
        /*display: -webkit-flex;*/
        /*display: -ms-flexbox;*/
        /*display: flex;*/
        /*padding-bottom: 0;  */
        /*font-size: 0.8em; */
      /*}*/
      /*.header > *:not(:last-child) {*/
        /*margin-right: auto; }*/
      /*.header__radial-child {*/
        /*width: 3.5em;*/
        /*height: 3.5em;*/
        /*-webkit-border-radius: 50%;*/
                /*border-radius: 50%; }*/
      /*.header__adult {*/
        /*display: -webkit-flex;*/
         /*display: -moz-flex;*/
         /*display: -ms-flex;*/
         /*display: -o-flex;*/
         /*display: flex;*/
         /*background-color: #D32E25;  }*/
      /*.header__adult-text {*/
        /*margin: auto;*/

        /*font-size: 1.7em;   */
         /*color: #fff;*/
         /*font-weight: 700;  */
      /*}*/
      /*.header__exit {*/
        /*position: relative;*/
        /*background-color: #ffffff; }*/
      /*.header__exit_dark {*/
        /*background-color: #333333; }*/
        /*.header__exit::before, .header__exit::after {*/
          /*content: "";*/
          /*position: absolute;*/
          /*top: 50%;*/
          /*left: 50%;*/
          /*display: inline-block;*/
          /*width: 2.3em;*/
          /*border-bottom: 0.5em solid #404040;*/
          /*-webkit-transform: translate(-50%, -50%);*/
              /*-ms-transform: translate(-50%, -50%);*/
                  /*transform: translate(-50%, -50%); }*/
        /*.header__exit_dark::before,*/
        /*.header__exit_dark::after {*/
          /*border-color: white; }*/
        /*.header__exit::before {*/
          /*-webkit-transform: translate(-50%, -50%) rotate(-45deg);*/
              /*-ms-transform: translate(-50%, -50%) rotate(-45deg);*/
                  /*transform: translate(-50%, -50%) rotate(-45deg); }*/
        /*.header__exit::after {*/
          /*-webkit-transform: translate(-50%, -50%) rotate(45deg);*/
              /*-ms-transform: translate(-50%, -50%) rotate(45deg);*/
                  /*transform: translate(-50%, -50%) rotate(45deg); }*/
        /*.header__exit-text {*/
          /*font-size: 0; }*/
        .main .wrapper {
          margin-bottom: 9em;}
        @media screen and (orientation: landscape) {
          .teaser {
            position: absolute;
            transform: translate(0, -150%);
            z-index: -1;}
          .header {
            padding: 0;
          }
          .header__radial-child {
            width: 3em;
            height: 3em;}}
          .main .btn-price-container {
            box-shadow: none;}
          #container {
            margin: 22px 0;}
          .main .btn-ok {
            background-color: #EB4225;}

/*END partners CSS*/


@media only screen and (width: 320px) and (orientation: portrait) { 
   .main .btn-price-container {margin-top: -55px;}
   .page {padding-top: 20px;}
  .footer {
    display: table-row;
width: 100%;
height: 1px;
background-color: #fff;
position: fixed;
bottom: 0;
color: #000000;
padding-bottom: 75px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
  .page {padding-top: 0;}
  .footer {padding-top: 5px;
  }
  .header {font-size: .7em;}
  }
@media screen and (orientation: landscape) and (max-width: 760px) { 
  .teaser__main-phrase {font-size: 1.3em; }
  .page { position: fixed; max-width: 100%; }
  .header .top-block__age { display: block; }
  .main .age { display: none; }
  .main__wrap { /*vertical-align: top;*/ }
  .main .wrapper { padding: 0rem 0 60px; }
  .main .btn-price-container { box-shadow: none; }
  .footer { position: fixed; bottom: 0; left: 0; height: auto; z-index: 999; padding-bottom: 2px;}
  .main { background: none; }
@media screen and (orientation: landscape) and (max-height: 320px) { .header .wrapper { padding: 0.1rem 0.5rem 0rem; }
  .main .wrapper { padding: 0rem 0 0; }
  .main__wrap { vertical-align: top; }
  .main .btn-price-container {margin-top: -23px;}
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  html, body {background: url(../img/bg-body.jpg) no-repeat top center; background-size: 100% 100%; width: 100%;}
  .teaser__main-phrase { padding-top: 0px; }
  .header {    font-size: 12px;}
  .footer {width: 100%;}
  .main {background: none }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer {width: 100%;}
  .header {font-size: 1.0em; display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: .4em;
        padding-bottom: 0;  }
}