  <!--END body-->
</div>





<script>
    $(function() {

        var isInteractiveActivationCode = false;

        Init(isInteractiveActivationCode);
    });
</script>
<span style="display:none;">Correct response</span>
                <!-- FOOTER START-->
            </div>
            <footer class="footer" id="footer">
                <div class="footer__wrap" id="regulations"></div>
            </footer>

        </div>
        <div id="warning-message"></div>
        <script>
            var buttonText = document.querySelector('.btn-ok-txt');
            var container = document.getElementById('container');

            var btnPriceContainer = document.querySelector('.btn-price-container');
            document.getElementById('container').appendChild(btnPriceContainer);

            document.querySelector('.btn-ok-txt').innerHTML = 'Читать';
            document.getElementById('template-button-name').innerHTML = 'Читать';

            var mts_info_block = document.getElementById('trig-footer');
            document.getElementById('regulations').appendChild(mts_info_block);

            document.querySelector('.main__wrap > .wrapper').appendChild(document.getElementById('warning-message'));


            // var button_img = document.createElement('img');
            // button_img.src = '/lp/Templates/0b709e91-23cf-4e4c-9dd7-bebddfc4f630/img/icon-button.png';
            // document.querySelector('.btn-ok-icon').appendChild(button_img);

        </script>
        
        <script src="js/fix.js"></script>
    </body>
</html>